@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient( 112.5deg,  rgba(95,10,135,1) 11.4%, rgba(164,80,139,1) 60.2% );
}


header {
    color: rgba(95,10,135,1);
    height: 70px;
    user-select: none;

    .logo {
        width: 50px;
    }
}

footer {
    height: 50px;
}

main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}